.container-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee4f;
}

.grid-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Estilo de las imágenes */
.grid-container img {
	max-height: 500px;
	float: right;

	&:hover {
		cursor: pointer;
	}
}

@media screen and (min-width: 728px) {
	.grid-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.grid-container img {
		max-width: 600px;
		padding: 2px;

		&:hover {
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 1024px) {
	.grid-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.grid-container img {
		max-width: 550px;
	}
}
