.container-centered {
	position: relative; /* Permite posicionar los chevrones correctamente */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Estilo del contenedor principal */
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
	overflow: hidden; /* Para ocultar imágenes adicionales */
	width: 350px;
	height: 100vh; /* Ajusta la altura según el tamaño deseado para mostrar 3 imágenes */
}

/* Estilo de las imágenes */
.image {
	position: relative;
	height: 350px; /* Asegura que las imágenes ocupen toda la altura del contenedor */
	overflow: hidden;

	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.315);
		box-shadow: 9px 8px 37px -15px rgba(87, 87, 87, 0.95);
		-webkit-box-shadow: 9px 8px 37px -15px rgba(87, 87, 87, 0.95);
		-moz-box-shadow: 9px 8px 37px -15px rgba(87, 87, 87, 0.95);
	}
}

.image img {
	width: 100%;
	height: 100%;
	display: block;
	transition: transform 0.5s ease;
	object-fit: cover;
}

.image:hover img {
	transform: scale(1.2);
}

.image-top img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	filter: grayscale(70%);
	transition: all 0.5s ease;

	&:hover {
		filter: grayscale(0%);
	}
}

/* Estilo para la segunda imagen (imagen completa) */
.image-middle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center; /* Muestra la imagen completa */
	display: block;
	transition: transform 0.5s ease;
}

/* Estilo para la tercera imagen (mitad superior) */
.image-bottom img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	filter: grayscale(70%);
	transition: all 0.5s ease;

	&:hover {
		filter: grayscale(0%);
	}
}
/* Estilo de los chevrones de scroll */
.chevron-up,
.chevron-down {
	font-size: 5rem;
	background-color: #33333323;
	color: white;
	border: none;
	border-radius: 50%;
	padding: 10px;
	position: absolute;
	cursor: pointer;
	z-index: 2;
	transition: all 0.5s ease;

	&:hover {
		background-color: #333333c4;
		border: 1px solid rgba(0, 255, 255, 0.562);
	}
}

.chevron-up {
	top: 10px; /* Posición en el borde superior */
	left: 50%; /* Centra horizontalmente */
	transform: translateX(-50%); /* Centra horizontalmente */
}

.chevron-down {
	bottom: 10px; /* Posición en el borde inferior */
	left: 50%; /* Centra horizontalmente */
	transform: translateX(-50%); /* Centra horizontalmente */
}
