.container-centered {
	position: relative; /* Needed to position chevrons */
}

.grid-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Estilo de las imágenes */
.grid-container img {
	width: 100%;
	float: right;

	&:hover {
		cursor: pointer;
	}
}

@media screen and (min-width: 728px) {
	.grid-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.grid-container img {
		max-width: 600px;
		padding: 2px;

		&:hover {
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 1024px) {
	.grid-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.grid-container img {
		max-width: 550px;
	}
}
